<form action="/" method="post">
    <h3 class="text-center">Bienvenido a Gestor-Tareas</h3>
    <h5 class="text-center">Registro</h5>

    <label>Nombre</label>
    <input type="text" class="form-control mb-3" name="email">

    <label>Apellido</label>
    <input type="text" class="form-control mb-3" name="email">

    <label>Email</label>
    <input type="email" class="form-control mb-3" name="email">

    <label>Contraseña</label>
    <input type="password" class="form-control mb-3" name "password">

    <button type="submit" class="btn btn-primary w-100">Registrar</button>
</form>
<p class="text-center mt-3">
    ¿Ya tienes una cuenta? - <a href="/" id="login-link">Iniciar</a>
</p>
